[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/RaphaelNash
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/RaphaelNash
	label-Verified = -1..+1 group user/RaphaelNash
	push = group user/RaphaelNash
	read = group user/RaphaelNash
	rebase = group user/RaphaelNash
	removeReviewer = group user/RaphaelNash
	submit = group user/RaphaelNash
[access "refs/heads/*"]
	create = group user/RaphaelNash
	push = +force group user/RaphaelNash
	pushMerge = group user/RaphaelNash
	read = group user/RaphaelNash
[access "refs/tags/*"]
	push = group user/RaphaelNash
	push = +force group user/RaphaelNash
